@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  font-family: Spartan, Arial, Helvetica, sans-serif;
}

body {
  background-color: #3a4663;
  margin: 0;
}

/* CALCULATOR */
.calculator {
  max-width: 540px;
  margin: 0 auto;
}

/* HEADER */
.calculator__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 28px 24px;
}
.calculator__header h2 {
  font-weight: bold;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.533333px;
  color: #ffffff;
  margin: 0;
}

/* DISPLAY */
.display {
  background-color: #181f33;
  padding: 26px 24px;
  border-radius: 10px;
  margin: 24px;
  /* TEXT */
  font-weight: bold;
  font-size: 32px;
  line-height: 36px;
  text-align: right;
  letter-spacing: -0.533333px;
  color: #ffffff;
}

/* NUMBER PAD */
.number-pad {
  display: grid;
  border-radius: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 64px);
  gap: 13px;
  padding: 24px;
  margin: 24px;
  background-color: #242d44;
}
.number-pad > button:nth-last-of-type(2),
.number-pad > button:last-of-type {
  grid-area: span 1 / span 2;
}

.number-pad > button {
  /* BUTTON REST */
  background-color: #eae3dc;
  box-shadow: inset 0px -4px 0px #b3a497;
  border-radius: 5px;
  /* CLEARING DEFAULT STYLES */
  border: none;
  padding: 0;
}

.number-pad button .btn__text {
  /* BUTTON TEXT */
  color: #434a59;
  font-weight: bold;
  font-size: 28px;
  line-height: 31px;
  letter-spacing: -0.466667px;
  /* DETAILING */
  display: block;
  margin-bottom: 5px;
}

.number-pad > button.secondary .btn__text,
.number-pad > button.primary .btn__text {
  color: white;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.266667px;
}

.number-pad > button.secondary {
  background: #647198;
  box-shadow: inset 0px -4px 0px #414e73;
}

.number-pad > button.primary {
  background-color: #d03f2f;
  box-shadow: inset 0px -4px 0px #93261a;
}
